# Azure AD App Registration
# This app registration requires the following delegated permissions:
#   DeviceManagementManagedDevices.ReadWrite.All
#   Device.Read.All
#   GroupMember.ReadWrite.All
#   Directory.Read.All
AZURE_CLIENT_ID=your-app-client-id
AZURE_TENANT_ID=your-tenant-id
